
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20%;
  margin-left: -20%;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 30px;
  color: black;
}

.shade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  padding: 50px;
  color: black;
}


