/**,
*:before,
*:after {
  box-sizing: border-box;
}*/
/*
*+* {
  margin-top: 1rem;
}*/

html {
  height: 100%;
}

.sideBarMainComponent {
  background-color: #ffaadd;
  height: 100vh;
  width: 25%;
  float: left;
}

.sideBarAvatarComponent {
  background-color: #aaddee;
  height: 30vh;
  width: 100%;
  float: left;
  display: block;
  position: relative;
}

.sideBarContactListComponent {
  background-color: #ccddee;
  height: 70vh;
  width: 100%;
  float: left;
  display: block;
}

.messagesMainComponent {
  background-color: #11aadd;
  height: 100vh;
  width: 75%;
  float: left;
}

.messagesContactDetailComponent{
  background-color: #11aadd;
  height: 20vh;
  width: 100%;
  float: left;
  display: block;
}

.messagesLogComponent{
  background-color: #00ff00;
  height: 70vh;
  width: 100%;
  float: left;
  display: block;
}

.messagesNewMessageComponent{
  background-color: #02ddaa;
  height: 10vh;
  width: 100%;
  float: left;
  display: block;
}

.avatarIcons {
  float: right;
  display: block;
}

.avatarPhoto {
  border-radius: 200px;
}

.avatar {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
