/**,
*:before,
*:after {
  box-sizing: border-box;
}*/
/*
*+* {
  margin-top: 1rem;
}*/
body {
  height: 100%;
  margin: 0px;
}
.app {
  height: 100%;
}

.sideBarMainComponent {
  height: auto;
  width: 25%;
  float: left;
}

.sideBarAvatarComponent {
  height: 'auto';
  width: 100%;
  float: left;
  position: relative;

}

.sideBarContactListComponent {
  height: calc(100vh - 250px);
  width: 100%;
  float: left;
  overflow: auto;
  display: block;
}

.sideBarSearchComponent {
  height: 'auto';
  width: 100%;
}

.messagesMainComponent {
  height: 100vh;
  width: 75%;
  float: left;
}

.messagesContactDetailComponent{
  height: 70px;
  width: 100%;
  float: left;
  display: block;
  position: relative;
}

.messagesLogComponent{
  overflow: auto;
  height: calc(100vh - 155px);
  width: 100%;
  float: left;
  border: 0px;
  display: block;
}

.messagesNewMessageComponent{
  height: 55px;
  width: 100%;
  float: left;
  display: block;
}

.avatarIcons {
  float: right;
  display: block;
}

.avatarPhoto {
  border-radius: 200px;
}

.avatar {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.chat {
    width: 95%;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.timer{
  display: block;
  color:#777777;
  font-size: 13px;
  padding-top: 5px;
  font-family: 'Kavivanar', cursive;
}


.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}

.message{
  display: flex;
}
